.player {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;

  .time-control {
    width: 50%;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      -webkit-appearance: none;
      cursor: pointer;
      background: transparent;
    }
    p {
      padding: 1rem;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .volume-control {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
    .volume {
      width: 30%;
      margin: 0 20px;
    }
    input[type="range"].volume[type="range"]:focus {
      outline: none;
    }
    input[type="range"].volume::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
    }
    input[type="range"].volume::-moz-range-thumb {
      -webkit-appearance: none;
      background: transparent;
      border: none;
    }
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
  }
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }
}

.track {
  position: relative;
  width: 100%;
  background: lightcoral;
  height: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(204, 204, 204, 0.7);
  transform: translateX(0%);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90% !important;
  }

  .play-control {
    width: 90% !important;
  }
}
